.page {
  /* background-image: url("https://images.pexels.com/photos/246351/pexels-photo-246351.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill; */
  background-color: var(--red);
  width: 100%;
  height: 100vh;
  /* margin: 3rem 0; */
}

.container {
  /* background-color: var(--dark-blue); */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* height: 100vh; */
  /* margin: 2em; */
  /* overflow: scroll; */
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 6rem;

  border: none;
  background-color: var(--light-green);
  margin: 0.4rem;
  gap: 0;
  font-family: fantasy;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #000000;
}
.icons {
  font-size: 1.5rem;
}

.card-today {
  cursor: pointer;
  /* background-color: transparent; */
  height: 6rem;

  background-color: var(--light-green);
  box-shadow: 5px 5px 5px 5px black;

  margin: 0.4rem;
  gap: 0;
  grid-column: 2/4;
}
.card .card-inner {
  position: relative;
}

.card-front {
  background-color: white;
  color: var(--light-red);
  font-size: 1em;
  text-align: center;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  color: var(--dark-blue);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.overlay {
  background: rgba(49, 49, 49, 0.5);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  /* background: #f1f1f1; */
  /* background-color: var(--light-red); */
  background-image: url("https://cdn.pixabay.com/photo/2020/12/08/14/34/santa-claus-5814597_1280.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 10000 !important;
}
/* body.active-modal {
  overflow-y: hidden;
} */
/* scrolling impossible */
/* body { */
.modal-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

/* body.modal-active {
  overflow-y: hidden;
} */
.cal-title {
  color: white;
  text-align: center;
  margin-bottom: 0;
}
.modal-content .icons {
  height: 100px;
  width: 100px;
}
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.premis {
  display: none;
}
.show {
  display: block;
}
