article {
  background: linear-gradient(315deg, #0f8a5f 20%, rgb(38, 53, 38) 65%);
  animation: gradient 15s ease infinite;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  margin: 10px 15px;
  border: 1px solid black;
  object-position: center;
  justify-content: center !important;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.districts {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center !important;
  object-position: center;
}

.filter-district {
  /* padding: 5px;
    margin: 2px;
    border-radius: 5px;
    border:1px solid red */

  border: 2px solid rgb(38, 53, 38);
  font-family: cursive;
  color: rgb(38, 53, 38);
  background-color: rgb(250, 240, 227);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  /* font-size: 20px; */
  margin: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* position: relative; */
  bottom: 0;
  font-weight: bold;
}

#list {
  overflow-y: scroll;
}

.images-xmas {
  height: 200px;
  width: auto;
  width: 310px;
  object-fit: cover;
  border-radius: 5px;
  object-position: center;
}

h5 {
  margin-bottom: 5px;
  margin-top: 0;
  color: white;
  padding: 1em;
  font-size: 13px;
}

h4 {
  margin-top: 10px;
  color: white;
}

/* CSS */
.button-74 {
  background-color: white;
  border: 2px solid rgb(38, 53, 38);
  border-radius: 30px;
  box-shadow: rgb(38, 53, 38) 4px 4px 0 0;
  color: rgb(38, 53, 38);
  cursor: pointer;
  display: inline-block;
  font-family: cursive;
  font-weight: 600;
  /* font-size: 18px; */
  padding: 5px;
  margin: 4px;
  /* line-height: 50px; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
