:root {
  --light-red: #f5624d;
  --red: #cc231e;
  --light-green: #34a65f;
  --dark-green: #0f8a5f;
  --dark-blue: #235e6f;
}
/* .nav {
  width: 100vh;
  height: 6rem;
  position: fixed;
  background-color: var(--dark-blue);
} */
/* 
@media (min-width: 700px) {
  body {
    display: none;
  }
} */
