:root {
  --light-red: #f5624d;
  --red: #cc231e;
  --light-green: #34a65f;
  --dark-green: #0f8a5f;
  --dark-blue: #235e6f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  scroll-behavior: smooth
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .nav {
  width: 100vh;
  height: 6rem;
  position: fixed;
  background-color: var(--dark-blue);
} */

#map {
  height: 180px;
}
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* 
@media (min-width: 700px) {
  body {
    display: none;
  }
} */
